#top { width: 100%;background: #f3f3f3;height: auto;}
.top-login { width: 1220px;margin: 0 auto;line-height: 26px;padding: 2px 0 3px;height: 27px;}
.top-login .left{ float: left;color: #666666;width: 430px;font-size:12px;}
.top-login .left span{color: #d71e00;font-weight: normal;padding:0 10px;}
.top-login .left{ width: 50%;float: left;}
.top-login .left .left-hello{padding:  0 10px;}
.top-login .right{ width: 200px;float: right;text-align: right;}
.top-login .right a{ float:left;display: inline-block;font-size: 12px;margin: 0 15px;}
.top-login .right .cart .num{display: inline-block;background: #f00;color: #fff;vertical-align: top;height: 15px;padding: 0 4px 0 7px;line-height: 15px;position: relative;margin-top: 6px;margin-right: 10px;}
.top-login .right .cart .num:before {content: "";width: 0;height: 0;top: 4px;position: absolute;border-top: 4px solid transparent;border-left: 4px solid red;border-bottom: 4px solid transparent;right:-4px;}
.top-login .right .app .app_img {display: inline-block;vertical-align: top;margin-right: 0px;margin-top: 3px;}
.top-login a:hover { color:#f00; }
/**LOGO搜索**/
.head { margin: 26px auto 0 auto; position: relative; background: #fff; }
.market-wrap { width: 1220px; margin: 0 auto; height:81px; }
.head .logo { height: 81px; float: left;width:244px; }
.head .more-button { width: 234px; height: 81px; float: right; z-index: 1000; }
.head .more-button img { margin-right:20px; float: left;}
.head .more-button img.more-btn-last{ margin-right:0px;}
.head .search { height: 81px; float: left; position: relative; z-index: 1; padding-left: 50px; width: 631px;}
.head .search .search_suggest ul li.active{background:#f7f7f7;}
.head .search-wrap { height: 40px; margin:0px 0px 7px; }
.head .input-wrap { border: 3px solid #d61e00; height: 34px; width: auto; float: left; position: relative; margin-right: 2px; }
.head .input-wrap .input { border: 0; height: 26px; float: left; width: 518px; padding: 4px 0px 4px 10px; color: #333; font-size: 12px; line-height: 19px; vertical-align: middle; background-color: #fff; }
.head .search-wrap a { float: left; display: block; width: 95px; height: 40px;background: #d71e00;font-size:30px; line-height: 40px; text-align: center; color: #fff;}
.search-hots { clear: both; padding-left:5px; height: 12px; color: #484848; overflow: hidden;font-size:12px; font-family:"宋体" }
.search-hots .search-hots_title{font-weight: bold; color:#666666;}
.search-hots li { display: inline; float: left; padding: 0px 5px; color: #848484; line-height: 13px; }
.search-hots li a:link{color:#666;}
.search-hots li a:visited{color:#666;}
.search-hots li a:hover{color:#d42000;}
.search-hots li.hot a{color:#d61e00!important;}
.search-hots li:last-child{border:0px;padding-right:0px;}

/**导航**/
#mallnav{min-width: 1000px;height:35px;background: #d71e00;border-bottom: 2px solid #aa1800;}
.all-nav { width: 1220px; height: 33px; margin: 0 auto; position: relative; }
.all-nav-cate { position: absolute; top: 0; left: 0; }
.all-nav-cate .all-nav-cit { display: block; width: 238px; height: 33px; line-height: 33px; text-align: center; background: #d71e00; color: white; font-size: 16px; font-family: Tahoma, Arial, Hiragino Sans GB, Microsoft Yahei; text-decoration: none; }
.all-nav-chn{ padding-left: 240px; margin:0 auto;height: 33px;float:left;}
.all-nav-chn li{ float:left; list-style-type:none; height:33px; line-height:33px;padding:0px 4px; position:relative;}
.all-nav-chn li .nav-new { background:url(../img/tuihota.png) no-repeat; display: block; width:24px; height:16px;position: absolute;top: -5px; right: -5px;}
.all-nav-chn #tuihot:hover{background-image:none;}
.all-nav-chn li a{ height:33px; line-height:33px; padding:0px 13px; display: inline-block; font-size:16px; font-family:"微软雅黑";color:#000;white-space: nowrap;}
.all-nav-chn li#tuihot a{ background:#aa1800;}
.all-nav-chn li a:hover{ background:#d71e00;color:#fff}
.all-nav-chn .navcur#tuihot{background:none;}

/*******************全部商品分类*****************************/
.all-nav-cate .catalog-list { height: 511px; position: absolute; top: 35px; left: 0; z-index: 76; background:#222; }
.all-nav-cate .catalog-list .cata-group { width: 238px; margin: 0 auto; padding: 0px 0px; }
.all-nav-cate .catalog-list .over-group{ background:#fff;margin-left: 0px;}
.all-nav-cate .catalog-list .cata-group .cata-group-btn { width:206px; margin: 0 auto; z-index: 70;border-bottom:1px dotted #d6d6d6; position:relative;}
.all-nav-cate .catalog-list .cata-group-head { height: 30px; overflow: hidden; padding: 0px; position:relative; }
.all-nav-cate .catalog-list .cata-group-head h3 { height: 38px; line-height: 38px; float: left; width: 205px; padding-left: 1px;
background:url(../img/channel_ico2.png) no-repeat center right }
.all-nav-cate .catalog-list .cata-group-head h3 i { float: left; display: inline-block; width: 20px; height: 33px; margin: 2px 8px 0 0;
 background-image:url(../img/ecd_cate_ico.png);}
.all-nav-cate .catalog-list .over-group .cata-group-head h3 i{ background-image:url(../img/ecd_cate_icoh.png);}
.all-nav-cate .catalog-list .cata-group-head h3 i.i_1 { background-position:0px -6px; }
.all-nav-cate .catalog-list .cata-group-head h3 i.i_2 { background-position: -22px -9px; }
.all-nav-cate .catalog-list .cata-group-head h3 i.i_3 { background-position: -47px -8px; }
.all-nav-cate .catalog-list .cata-group-head h3 i.i_4 { background-position: -73px -8px; }
.all-nav-cate .catalog-list .cata-group-head h3 i.i_5 { background-position: -101px -9px; }
.all-nav-cate .catalog-list .cata-group-head h3 i.i_6 { background-position: 71px -9px; }
.all-nav-cate .catalog-list .cata-group-head h3 i.i_7 { background-position: 43px -7px; }
.all-nav-cate .catalog-list .cata-group-head h3 i.i_8 { background-position: 20px -8px; }
.all-nav-cate .catalog-list .cata-group-head h3 a { text-align: left; overflow: hidden; height: 38px; display: block; font-size: 13px;font-weight: normal; font-family: "宋体"; text-decoration: none; float: left; color: #fff; }
.all-nav-cate .catalog-list .over-group .cata-group-head h3 a{ color:#c81623;}
.all-nav-cate .catalog-list .cata-hot-link { width: 206px; line-height: 25px; padding: 0 0px 5px 0px; overflow: hidden; }
.all-nav-cate .catalog-list .cata-hot-item { overflow: hidden; position: relative; }
.all-nav-cate .catalog-list .cata-hot-item .cata-hot-words { width: 198px; float: left; height: 26px;line-height: 26px;padding:0px; overflow:hidden;}
.all-nav-cate .catalog-list #cata-group-8 .cata-group-btn{ border:none;}
.all-nav-cate .catalog-list .cata-hot-link a { float: left; display: inline-block; color: #fff; margin-right:6px; white-space: nowrap; }
.all-nav-cate .catalog-list .over-group .cata-hot-link a{ color:#2d2d2d;}
.all-nav-cate .catalog-list .over-group .cata-hot-link a:hover{ color:#f00;}
.all-nav-cate .catalog-list .cata-sub {border-left: 2px solid #b1191a;display: none;background-color: #fff;width: 730px;position: absolute;left: 235px;z-index: -1;border-right: 2px solid #b1191a;top:0px;border-bottom: 2px solid #b1191a;min-height: 509px;}
.all-nav-cate .catalog-list .over-group .cata-sub { display: block; }
.all-nav-cate .catalog-list .cata-sub .cata-sub-list {float: left;padding: 12px 10px 8px 24px;width: 694px;background-color: #fff;position: relative;}
.all-nav-cate .catalog-list .cata-sub .cata-sub-list dl { padding: 6px 0; }
.all-nav-cate .catalog-list .cata-sub .cata-sub-list .dl-cata-brand dl { width: auto; }
.all-nav-cate .catalog-list .cata-sub .cata-sub-list dt { font-size: 12px; color: #ca234f; line-height: 110%; text-align: left; padding: 0 10px 0 4px; vertical-align: top; font-weight: 700; border-left: 2px solid #ca234f; margin: 5px 0; }
.all-nav-cate .catalog-list .cata-sub .cata-sub-list .dl-cata-brand dt { position: relative; }
.all-nav-cate .catalog-list .cata-sub .cata-sub-list .dl-cata-brand dt a.more { position: absolute; top: 1px; right: 8px; font-family: '宋体'; font-weight: 400; color: #999; }
.all-nav-cate .catalog-list .cata-sub .cata-sub-list dd { line-height: 190%; display: inline-block; zoom: 1; padding: 5px 0; }
.all-nav-cate .catalog-list .cata-sub .cata-sub-list .dl-cata-words { width: 760px; position: relative; }
.all-nav-cate .catalog-list .cata-sub .cata-sub-list .dl-cata-words .words-shade { width: 700px; height: 5px; overflow: hidden; font-size: 0; line-height: 0; position: absolute; top: -2px; left: 0; background: #fff; }
.all-nav-cate .catalog-list .cata-sub .cata-sub-list dl { padding: 6px 0; }
.all-nav-cate .catalog-list .cata-sub .cata-sub-list .dl-cata-words dl {width: 489px;border-top: 1px dotted #dedede;float: left;}
.all-nav-cate .catalog-list .cata-sub .cata-sub-list dt { font-size: 12px; color: #d61e00; line-height: 110%; text-align: left; padding: 0 10px 0 4px; vertical-align: top; font-weight: 700; border-left: 2px solid #d61e00; margin: 5px 0; }
.all-nav-cate .catalog-list .cata-sub .cata-sub-list dd { line-height: 190%; display: inline-block; zoom: 1; padding: 5px 0; }
.all-nav-cate .catalog-list .cata-sub .cata-sub-list .dl-cata-words dd {height: 44px;overflow: hidden;}
.all-nav-cate .catalog-list .cata-sub .cata-sub-list .dl-cata-words dd a { white-space: nowrap; padding-right: 8px; }
.all-nav-cate .catalog-list .cata-sub .cata-sub-list .dl-cata-words dd a.hot{ color:#d61e00;}
.all-nav-cate .catalog-list .cata-sub .cata-sub-list .dl-cata-words dd a:hover{ color:#f00;}
.all-nav-cate .catalog-list .cata-group b { position: absolute; background: #d61e00;width: 100%; top: 0; left: -13px; height: 62px; z-index: 0; padding-left: 15px; visibility: hidden; -webkit-transition: top .01s ease-in; -moz-transition: top .01s ease-in; -ms-transition: top .01s ease-in; -o-transition: top .01s ease-in; transition: top .01s ease-in; display:none; }
.all-nav-cate .catalog-list .cata-group b s { display: block; width: 0; height: 0; border: 5px solid transparent; border-right-color: #aa2633; border-top-color: #aa2633; _border-color: tomato; _filter: chroma(color=tomato); position: absolute; bottom: -10px; left: 0 ;display:none;}
.slideshow .slideshow-center .listad { float: left;width: 195px; }
.listad li a{display:block;}
.dl-cata-words .listad{position: absolute;margin-right: 56px;right: 1px;top: -9px;}
.dl-cata-words .listad li img{height: 250px;width: 200px;}
#mallnav .all-nav{width: 1250px;}
#mallnav .all-nav-cit{height: 35px;font-size: 14px;}
#mallnav .all-nav-chn li a{color:#fff;font-size: 14px;}
#mallnav .all-nav-chn .navcur{height:35px;background: #aa1800;}
#mallnav .all-nav-chn li a:hover{background: #aa1800;}
.nav_li a .nav_li_img {display: inline-block;vertical-align: middle;width: 26px;height: 26px;}

.all-nav{ width: 1220px; height: 35px; margin: 0 auto; position: relative; }
.all-nav .all-nav-chn {height: 35px; }
.all-nav .all-nav-chn li{height: 35px; }
.all-nav .all-nav-chn li a{height: 35px; }
.dl-cata-words .listad .lis_1{margin-bottom: 6px;}
/*尖角*/
.mallnav .all-nav em{position: absolute;top: 15px;right: 45px;border-width: 5px 5px 0;border-style: solid dashed dashed;border-color: #fff transparent transparent;}
