*{margin:0;padding:0}
#top{
    color:#fff;
}
/*头部右侧ul*/
#top .top-login .top-ul{
    float: right;
    text-align: right;
    width: 500px;
    overflow: hidden;
    li{
        display: inline-block;
        height: 26px;
        line-height: 26px;
        background:url(../img/tuitop_ico.png) no-repeat;
        padding-left: 24px;margin:0 5px;
        }
    li:nth-child(2){background-position:0 -26px}
    li:nth-child(3){background-position:0 -54px}
    li:nth-child(4){background-position:0 -81px}
    }

/*logo*/
.logo{width: 1000px;margin: 0 auto;margin-top: 30px;}

/*login-content*/
.login{    
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    .login-con ul{
        display: block;
        padding: 0px;
        width: 1000px;
        margin: 0 auto;
        height: 40px;
        margin-top: 30px;
        border-bottom: 2px solid #e6e6e6;
        li{
            float:left;
            margin-right: 15px;
            line-height: 40px;
            text-align: center;
            color: #3e3e3e;
            font-size: 16px;
            margin: 0 50px;
            padding: 0 34px;
            font-weight: bold;
            i{
                font-style: normal;
                width: 20px;
                height: 20px;
                display: block;
                font-family:"微软雅黑";
                float: left;
                margin-top: 10px;
                line-height: 20px;
                background: #c40000;
                border-radius: 50%;
                color: #fff;
                margin-right: 10px;
                font-weight: normal
            }
        }
        .on{
            border-bottom:2px solid #c40000;
        }
    }
    form{
        width: 500px;
        margin: 50px auto 0px;
        div{
            position:relative;
            width: 500px;
            display: inline-block;
            height: 60px;
            input{
                border: 1px solid #CCCCCC;
                float: none;
                font-size: 12px;
                height: 25px;
                line-height: 25px;
                padding: 4px 2px 4px 3px;
                width: 253px;
                color: #3e3e3e;
            }
            span{
                height: 27px;
                line-height: 27px;
                margin: 0px;
                width: 80px;
                text-align: right;
                display: inline-block;
                color: #3c3c3c;
            }
            .parent-eye{
                outline: none;
                position: absolute;
                display: inline-block;
                width: 30px;
                height: 30px;
                cursor: pointer;
                overflow: hidden;
                left: 305px;
                top:6px;
                .eye{
                    background: url(../img/elements.png) no-repeat -30px -90px;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }
            }  
            .tcp{
                width: 500px;
                display: block;
                font-style:normal;
                height:35px;
                line-height: 35px;
                input{
                    width: 13px;
                    height: 13px;
                    margin-right: 6px;
                    vertical-align: middle
                }
            }
            .next-btn{
                background: #c40000;
                color: #fff;
                display: block;
                width: 300px;
                height: 34px;
                line-height: 34px;
                text-align: center;
                border-radius: 5px;
                font-size: 16px;
                font-family: "宋体";
                font-weight: bold;
            }
            .verify-btn {
                width: 200px;
                height: 30px;
                background-color: #337AB7;
                color:#FFFFFF;
                border:none;
                margin-top: 10px;
            }
            #code_input{
                display:inline-block;
                width: 115px;
                height: 25px;
            }
            #v_container{
                display:inline-block;
                width: 131px;
                height:33px;
                margin:0 5px;
                border:1px solid #ccc;
            }
            b{  
                display:inline-block;
                line-height:33px;
                padding:0 10px 0 18px;
            }
            .varify-true{
                color:#71b83d;
                white-space:nowrap;
                border: 1px solid #71b83d;
                background:url(../img/right.png) no-repeat left center;
            }
            .varify-false{
                color:red;
                white-space:nowrap;
                border: 1px solid #ffbdbe;
                background: #ffebeb;
                background:url(../img/error.png) no-repeat left center #ffebeb;
                
            }

        }
    }
}
